/* Importanto font do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset Css */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: #F6F8F9;
}

/* Style Header Start */

.wrapper-header {
    height: 80px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style Header End */

/* Style Content Start */

.wrapper-container {
    padding: 0 2rem;
}

.wrapper-container__pipeline {
    background: #FFF;
    width: 800px;
    margin: 60px auto;
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.2);
}

.pipeline--header {
    padding: 20px 2rem;
}

.pipeline--header__button--add {
    padding: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #0939a8;
    color: #FFF;
    font-weight: 700;
}

.pipeline--header__button--add::before {
    content: '\2b';
    margin-right: 4px;
    font-size: 14px;
}

.pipeline--button--delete {
    padding: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #e21212;
    color: #FFF;
    font-weight: 700;
    margin: 4px 0;
}

.pipeline--button--delete::before {
    content: '\f00d';
    font-family: fontAwesome;
    margin-right: 4px;
}

.pipeline--collapse {
    width: 100%;
}

.pipeline--summary {
    list-style: none;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}

.pipeline--summary::after {
    content: '\f104';
    font-family: fontAwesome;
    transform:rotate(0deg);
    transition: all 0.3s ease-in-out;
}

.pipeline--summary--active:focus::after {
    transform:rotate(-90deg);
    transition: all .3s ease-in-out;
}

.pipeline--description {
    padding: 1rem;
    text-align: justify;
    background: #F6F8F9;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr, th, td {
    border: 3px solid #ddd;
    padding: 8px;
}

tr {
    border-bottom: none;
    border-top: none;
}

/* Style Content End */

/* Style Footer Start */

.wrapper-footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style Footer End */
